<section>
  <h1>Quem somos?</h1>
  <p>A Hands On é uma aplicação desenvolvida por um grupo de 4 jovens, desafiados e motivados a viabilizar a melhor forma de organização de eventos sociais.</p>
  <p><strong>História</strong></p>
  <p>Surgimos em 2018 através da necessidade visível de uma melhor organização e divulgação de eventos sociais e beneficentes, ainda no processo de criação, sempre levamos em consideração e como determinante, a palavra do usuário que irá utilizar, seja como um membro voluntário ou, seja como um realizador de causas.</p>
  <p><strong>Objetivos</strong></p>
  <p>Nossa proposta é popularizar os eventos com teor social e/ou sustentável, visando o coletivo, e a comunhão entre pessoas de diferentes classes, raças, sexualidades, em prol de uma causa nobre e maravilhosa. Contamos com vocês!  </p>
  <p><strong>Funcionalidade</strong></p>
  <p>Somos um site de gerenciamento de eventos sem fins lucrativos, focado apenas em bem estar social, aqui você poderá criar e compartilhar seu evento de forma simples e rápida, com as informações mais importantes e uma breve descrição sobre o mesmo. Ao confirmar seu evento, ele ficará em nossa página principal juntamente os outros eventos, assim, dando maior visibilidade para sua realização. E estaremos na torcida para que a quantidade de pessoas com ideias parecidas, que podem ser voluntárias em algum projeto, ou que possam ajudar de alguma forma se unam para tornar possível sua ação social.  </p>
  <p><strong>Fale conosco!</strong></p>
  <p>Ah, e caso queiram deixar algum feedback ou entrar em contato com nossa equipe, temos um E-mail :)   handson.social.br@gmail.com  </p>
  <p>Att. Equipe</p>
</section>