<section class="about-page">
  <div class="page-title">
    <div class="text">
      <h1>Sobre a Hands On</h1>
      <h2><a routerLink="/home">HOME</a><span> /</span> SOBRE NÓS</h2>
    </div>
  </div>
  
  <article class="who-objectives">
    <div class="who">
      <h1>QUEM <span>SOMOS</span></h1>
      <p class="first">A Hands On é uma aplicação desenvolvida por um grupo de 4 jovens, desafiados e motivados a viabilizar a melhor forma de organização de eventos sociais.</p>
      <p>Somos um site de gerenciamento de eventos sem fins lucrativos, focado apenas em bem estar social, aqui você poderá criar e compartilhar seu evento de forma simples e rápida, com as informações mais importantes e uma breve descrição sobre o mesmo. Ao confirmar seu evento, ele ficará em nossa página principal juntamente os outros eventos, assim, dando maior visibilidade para sua realização. E estaremos na torcida para que a quantidade de pessoas com ideias parecidas, que podem ser voluntárias em algum projeto, ou que possam ajudar de alguma forma se unam para tornar possível sua ação social.</p>
    </div>
    <div class="objectives">
      <div>
        <h2>OBJETIVOS</h2>
        <p>Nossa proposta é popularizar os eventos com teor social e/ou sustentável, visando o coletivo, e a comunhão entre pessoas de diferentes classes, raças, sexualidades, em prol de uma causa nobre e maravilhosa.</p>
      </div>
    </div>
  </article>

  <hr>

  <div class="card-about">
    <ul>
      <li class="card1">
        <h2>Somos +</h2>
        <hr>
        <h3>Compaixão</h3>
        <i class="material-icons icon1">favorite</i>
      </li>
      <li class="card2">
        <h2>Somos +</h2>
        <hr>
        <h3>Companheirismo</h3>
        <i class="material-icons icon2">face</i>
      </li>
      <li class="card3">
        <h2>Somos +</h2>
        <hr>
        <h3>Sustentabilidade</h3>
        <i class="material-icons icon3">public</i>
      </li>
      <li class="card4">
        <h2>Somos +</h2>
        <hr>
        <h3>Solidariedade</h3>
        <i class="material-icons icon4">redeem</i>
      </li>
    </ul>
  </div>

  <article class="whatWeDo">
    <h1>O QUE <span>FAZEMOS</span></h1>
    <ul>
      <li>
        <h2><i class="material-icons">child_care</i>Visita a orfanatos</h2>
        <p>Visitamos orfanatos para dar no mínimo um sorriso ao rosto das crianças.</p>
      </li>
      <li>
        <h2><i class="material-icons">accessibility_new</i>Visita a azilos</h2>
        <p>Não são somente crianças que merecem sorrir, alem do mais todos somos um pouco criança.</p>
      </li>
      <li>
        <h2><i class="material-icons">local_hospital</i>Visita a hospitais</h2>
        <p>Sejam pacientes em estados terminal ou não, queremos melhorar o dia de todos.</p>
      </li>
    </ul>
    <ul>
      <li>
        <h2><i class="material-icons">local_dining</i>Doação de alimentos</h2>
        <p>Todos gostamos de comer, o mínimo de ajuda já é válido.</p>
      </li>
      <li>
        <h2><i class="material-icons">ac_unit</i>Doação de roupas</h2>
        <p>Em tempos de frio com certeza seu apoio fará diferença.</p>
      </li>
      <li>
        <h2><i class="material-icons">toys</i>Doação de brinquedos</h2>
        <p>Sabe aquele brinquedo que ninguem mais usa? Faça com ele seja usado novamente.</p>
      </li>
    </ul>
    <ul>
      <li>
        <h2><i class="material-icons">pets</i>Ajuda aos animais</h2>
        <p>Não são somente pessoas que precisam de ajuda, desejamos ajudar a todos.</p>
      </li>
      <li>
        <h2><i class="material-icons">pets</i>Ajuda ao Meio ambiente</h2>
        <p>Um bom local para uma sombra e ar fresco, ajudem a cuidar do nosso mundo.</p>
      </li>
      <li>
        <h2><i class="material-icons">warning</i>Apoio a desastres</h2>
        <p>Desastres acontecem e ajuda será sempre bem vinda para minimizar os danos.</p>
      </li>
    </ul>
  </article>
</section>