<section class="page-contact">
  <div class="page-title">
    <div class="text">
      <h1>CONTATO</h1>
      <h2><a routerLink="/home">HOME</a><span> /</span> ENTRE EM CONTATO</h2>
    </div>
  </div>

  <div class="form">
    <mat-card class="example-card">
      <mat-card-content>
        <p>Ah, e caso queiram deixar algum feedback ou entrar em contato com nossa equipe, temos um E-mail :)   handson.social.br@gmail.com  </p>
        <p><strong>Att. Equipe</strong></p>
      </mat-card-content>      
    </mat-card>
  </div>
</section>