<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content >
    <mat-toolbar>
      <div class="menu-limiter">
        <div class="logo">
          <img src="../../assets/imgs/logo_branca.png" alt="logo">
        </div>
        <div class="links">
          <button mat-button routerLink="/">Home</button>
          <button mat-button routerLink="/about">Sobre nós</button>
          <button mat-button routerLink="/contact">Contato</button>
          <button *ngIf="!user" mat-button routerLink="/login">Login</button>
          <button *ngIf="user" [matMenuTriggerFor]="menu" overlapTrigger="false" mat-button>
            <i class="material-icons usericon">person</i>
            <span class="username">{{user.displayName}}</span>
          </button>

          <mat-menu style="max-width: 320px !important; padding: 10px;" class="user-menu" #menu="matMenu">
            <div *ngIf="user" class="user-box">
              <div class="avatar-box">
                <img class="avatar" [src]="user.photoURL">
              </div>
              <div class="info-box">
                <span class="username username2">{{user.displayName}}</span>
                <span class="username useremail">{{user.email}}</span>
              </div>
            </div>
            
            <hr>
            <button mat-menu-item routerLink="/event">Criar Evento</button>
            <button mat-menu-item routerLink="/events">Meus Eventos</button>
            <button mat-menu-item routerLink="/allevents">Eventos</button>
            <hr>
            <button mat-menu-item routerLink="#">
              <mat-icon>how_to_reg</mat-icon>
              Perfil
            </button>
            <button mat-menu-item (click)="afService.logout()">
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
    
    <div class="gambiarra"></div>
    <ng-content></ng-content>
    
    <footer>
      <div class="content-footer">
        <img class="logo-footer" src="../../assets/imgs/logo_branca.png" alt="logo">
        <div class="social-media">
            <a href="http://facebook.com"><img class="facebook-icon" src="../../assets/imgs/facebook-icon.png" alt="facebook"></a>
            <a href="http://instagram.com"><img class="instagram-icon" src="../../assets/imgs/instagram-icon.png" alt="instagram"></a>
            <a href="http://whatsapp.com"><img class="whatsapp-icon" src="../../assets/imgs/whatsapp-icon.png" alt="whatsapp"></a>
        </div>
      </div>
      <hr>
      <p>Todos os direitos reservados Hands On - 2018</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>