<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>      
      <a *ngIf="!user" mat-list-item href="/login">Login</a>
      <a mat-list-item href="/">Home</a>
      <button *ngIf="user" mat-list-item href="/events">Eventos</button>
      <button mat-list-item *ngIf="user" mat-button (click)="AfService.logout()">Logout</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">group_work</mat-icon>
      </button>
      <button mat-button routerLink="/">Hands On</button>
      <span class="spacer"></span>
      <button *ngIf="!user" mat-button routerLink="/login">Login</button>
      <div *ngIf="user">
        <mat-menu #menu="matMenu" x-position="after" y-position="below" overlapTrigger="false">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Perfil</span>
          </button>
          <button mat-menu-item (click)="afService.logout()" routerLink="/">
            <mat-icon>notifications_off</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
        <button mat-button routerLink="/event">Criar Evento</button>
        <button mat-button routerLink="/events">Eventos</button>
        <button mat-button routerLink="/admin">Admin</button>
        
        <button mat-button [matMenuTriggerFor]="menu">            
          <span>Olá {{user.displayName}}         </span>
          <img class="avatar" [src]="user.photoURL">
        </button>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
