<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>      
      <a *ngIf="!user" mat-list-item href="/login">Login</a>
      <a mat-list-item href="/">Home</a>
      <button *ngIf="user" mat-list-item href="/events">Eventos</button>
      <button mat-list-item *ngIf="user" mat-button (click)="AfService.logout()">Logout</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">group_work</mat-icon>
      </button>
      <span>Hands On</span>
      <span class="spacer"></span>
      <div mat-card-avatar class="example-header-image"></div>
      <img *ngIf="user" class="avatar" [src]="user.photoURL">
      <span *ngIf="user" style="margin-right: 70px; margin-left: 20px;">Olá {{user.displayName}}</span>
      <button *ngIf="!user" mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/">Home</button>
      <button *ngIf="user" mat-button routerLink="/events">Eventos</button>
      <button *ngIf="user" mat-button routerLink="/admin">Admin</button>
      <button *ngIf="user" mat-button (click)="afService.logout()">Logout</button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
