<div *ngIf="event">
  <div>
    <label>First Name: </label> {{event.nome}}
  </div>
  <div>
    <label>Descricao: </label> {{event.descricao}}
  </div>
  <div>
    <label>Active: </label> {{event.active}}
  </div>
 
  <button class="button is-small btn-primary" *ngIf='event.active' (click)='updateActive(false)'>Inactive</button>
 
  <button class="button is-small btn-primary" *ngIf='!event.active' (click)='updateActive(true)'>Active</button>
 
  <button class="button is-small btn-danger" (click)='deleteEvent()'>Delete</button>
 
  <hr/>
</div>