<div class="signin-page">
  <div class="page-title">
    <div class="text">
      <h1>SIGNIN</h1>
      <h2><a routerLink="/home">HOME</a><span> /</span> CRIAR SUA CONTA</h2>
    </div>
  </div>

  <div class="form">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nome">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="email" matInput placeholder="email">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="password">
      </mat-form-field>
      <button mat-raised-button color="primary" class="cadastrar-buttom"><img src="../../assets/imgs/logo_sem_nome.png">Criar sua conta</button>
    </form>
    <p class="cadastro">Já possui uma conta? <a routerLink="/signin">Clique aqui e acesse!</a></p>
  </div>
</div>