<div [hidden]="submitted" style="width: 300px;">    
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Criar Evento</mat-card-title>
    </mat-card-header>
      <img mat-card-image src="../../assets/imgs/cadastro.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>

      <form (ngSubmit)="onSubmit()">
        
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nome do evento" id="nome" name="nome" [(ngModel)]="event.nome" required>
        </mat-form-field>
        <input placeholder="Anexar Imagem" type="file" name="file" id="file" (change)="uploadImage($event)">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Quantidade mínima de voluntários" id="voluntarios" name="voluntarios" [(ngModel)]="event.voluntarios" type="number" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Local" id="local" name="local" [(ngModel)]="event.local" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <textarea matInput style="height: 50px;" placeholder="Descricao" name="descricao" #descricao="ngModel" [(ngModel)]="event.descricao" required></textarea>
        </mat-form-field>
        <!-- <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Escolha uma data" name="criadoEm" #criadoEm="ngModel" [(ngModel)]="event.criadoEm" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->

        <div>
          <button type="submit" class="btn btn-success">Submit</button>            
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div> 

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newEvent()">Add</button>
</div>
<!--<h3>Create Event</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Name</label>
      <input type="text" class="form-control" id="nome" required [(ngModel)]="event.nome" name="nome">
    </div>
 
    <div class="form-group">
      <label for="voluntarios">voluntarios</label>
      <input type="number" class="form-control" id="voluntarios" required [(ngModel)]="event.voluntarios" name="voluntarios">
    </div>
 
    <div class="form-group">
      <label for="local">local</label>
      <input type="text" class="form-control" id="local" required [(ngModel)]="event.local" name="local">
    </div>

    <div class="form-group">
      <label for="descricao">desc</label>
      <input type="text" class="form-control" id="descricao" required [(ngModel)]="event.descricao" name="descricao">
    </div>

    <div class="form-group">
      <label for="urlImage">urlImage</label>
      <input type="text" class="form-control" id="urlImage" required [(ngModel)]="event.urlImage" name="urlImage">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newEvent()">Add</button>
</div> -->

<event-list></event-list>