<section class="banner">
  <div class="darkening"></div>
  <div class="content-banner">
    <div class="limit">
      <h1>O que para uns pode ser pouco, para outros pode ser muito.</h1>
      <h2>Faça parte de um dos projetos, colabore e compartilhe emoções.</h2>
      <div class="button-row">
        <button mat-raised-button routerLink="/about">Sobre a Hands On</button>
        <button *ngIf="user" class="botao-eventos" mat-raised-button routerLink="/events" >Meus eventos</button>
        <button *ngIf="!user" class="botao-cadastro" mat-raised-button routerLink="/signup">Cadastre-se</button>
      </div>
    </div>
  </div>  
</section>
  
<section class="about">
  <h1>Quem somos?</h1>
  <p>A Hands On é uma aplicação desenvolvida por um grupo de 4 jovens, desafiados e motivados a viabilizar a melhor forma de organização de eventos sociais.</p>
  <p>Somos um site de gerenciamento de eventos sem fins lucrativos, focado apenas em bem estar social, aqui você poderá criar e compartilhar seu evento de forma simples e rápida, com as informações mais importantes e uma breve descrição sobre o mesmo. Ao confirmar seu evento, ele ficará em nossa página principal juntamente os outros eventos, assim, dando maior visibilidade para sua realização. E estaremos na torcida para que a quantidade de pessoas com ideias parecidas, que podem ser voluntárias em algum projeto, ou que possam ajudar de alguma forma se unam para tornar possível sua ação social.</p>
  <div class="card-about">
    <ul>
      <li class="card1">
        <h2>Somos +</h2>
        <hr>
        <h3>Compaixão</h3>
        <i class="material-icons icon1">favorite</i>
      </li>
      <li class="card2">
        <h2>Somos +</h2>
        <hr>
        <h3>Companheirismo</h3>
        <i class="material-icons icon2">face</i>
      </li>
      <li class="card3">
        <h2>Somos +</h2>
        <hr>
        <h3>Sustentabilidade</h3>
        <i class="material-icons icon3">public</i>
      </li>
      <li class="card4">
        <h2>Somos +</h2>
        <hr>
        <h3>Solidariedade</h3>
        <i class="material-icons icon4">redeem</i>
      </li>
    </ul>
  </div>
</section>

<section class="events">
  <div class="img-space1">
    <h1>Ultimos Eventos</h1>
  </div>
  <div class="content-event">
    <mat-card *ngFor="let page of events | async" class="card-event">
      <div class="img-event">
        <img mat-card-image src="{{page.urlImage}}" alt="Imagem evento">
      </div>
      <div class="text-event">
        <mat-card-content>
          <mat-card-title class="title-event">{{page.nome}}</mat-card-title>
          <p>{{page.descricao}}</p>
          <p><strong>Quantidade mínima de voluntários: </strong>{{page.voluntarios}}</p>
          <div class="local-event">
            <p>Maceió{{page.local.localidade}}/AL{{page.local.uf}}</p>
            <p>Poço {{page.local.bairro}}</p>
            <p>Rua xyz123 {{page.local.logradouro}}</p>
            <p>Nº: 666{{page.local.num}}</p>
            <p>Próximo a lugar nenhum{{page.local.complemento}}</p>
          </div>
        </mat-card-content>
      </div>
      <mat-card-actions class="button-event">
        <button mat-button>Curtir</button>
        <button mat-button>Voluntário</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>