<section class="banner">
  <div class="darkening"></div>
  <div class="content-banner">
    <div class="limit">
      <h1>O que para uns pode ser pouco, para outros pode ser muito.</h1>
      <h2>Faça parte de um dos projetos, colabore e compartilhe emoções.</h2>
      <div class="button-row">
        <button mat-raised-button>Sobre a Hands On</button>
        <button *ngIf="user" class="botao-eventos" mat-raised-button>Todos os eventos</button>
        <button *ngIf="!user" class="botao-cadastro" mat-raised-button routerLink="/signin">Cadastre-se</button>
      </div>
    </div>
  </div>  
</section>

<section class="events">
  <h1>Ultimos Eventos</h1>
  <div class="content-event">
    <mat-card *ngFor="let page of pagesObservable | async" class="card-event">
      <div class="img-event">
        <img mat-card-image src="{{page.urlImage}}" alt="Imagem evento">
      </div>
      <div class="text-event">
        <mat-card-content>
          <mat-card-title class="title-event">{{page.nome}}</mat-card-title>
          <p>{{page.descricao}}</p>
          <p><strong>Quantidade mínima de voluntários: </strong>{{page.voluntarios}}</p>
          <div class="local-event">
            <p>Maceió{{page.local.localidade}}/AL{{page.local.uf}}</p>
            <p>Poço {{page.local.bairro}} - 
            Rua xyz123 {{page.local.logradouro}}</p>
            <p>Nº: 666{{page.local.num}} - 
            Próximo a lugar nenhum{{page.local.complemento}}</p>
          </div>
        </mat-card-content>
      </div>
      <mat-card-actions>
        <button mat-button>Curtir</button>
        <button mat-button>Voluntário</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>