<section class="banner">
  <div class="darkening"></div>
  <div class="content-banner">
    <div class="limit">
      <h1>O que para uns pode ser pouco, para outros pode ser muito.</h1>
      <h2>Faça parte de um dos projetos, colabore e compartilhe emoções.</h2>
      <div class="button-row">
        <button mat-raised-button>Sobre a Hands On</button>
        <button *ngIf="user" class="botao-eventos" mat-raised-button>Todos os eventos</button>
        <button *ngIf="!user" class="botao-cadastro" mat-raised-button routerLink="/signin">Cadastre-se</button>
      </div>
    </div>
  </div>  
</section>

<section class="about">
  <h1>Quem somos?</h1>
  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for.</p>
  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
  <div class="card-about">
    <ul>
      <li class="card1">
        <h2>Somos +</h2>
        <hr>
        <h3>Algum Nome</h3>
        <i class="material-icons icon1">favorite</i>
      </li>
      <li class="card2">
        <h2>Somos +</h2>
        <hr>
        <h3>Algum Nome</h3>
        <i class="material-icons icon2">face</i>
      </li>
      <li class="card3">
        <h2>Somos +</h2>
        <hr>
        <h3>Algum Nome</h3>
        <i class="material-icons icon3">public</i>
      </li>
      <li class="card4">
        <h2>Somos +</h2>
        <hr>
        <h3>Algum Nome</h3>
        <i class="material-icons icon4">redeem</i>
      </li>
    </ul>
  </div>
</section>

<div class="img-space1"></div>

<section class="events">
  <h1>Ultimos Eventos</h1>
  <div class="content-event">
    <mat-card *ngFor="let page of pagesObservable | async" class="card-event">
      <div class="img-event">
        <img mat-card-image src="{{page.urlImage}}" alt="Imagem evento">
      </div>
      <div class="text-event">
        <mat-card-content>
          <mat-card-title class="title-event">{{page.nome}}</mat-card-title>
          <p>{{page.descricao}}</p>
          <p><strong>Quantidade mínima de voluntários: </strong>{{page.voluntarios}}</p>
          <div class="local-event">
            <p>Maceió{{page.local.localidade}}/AL{{page.local.uf}}</p>
            <p>Poço {{page.local.bairro}}</p>
            <p>Rua xyz123 {{page.local.logradouro}}</p>
            <p>Nº: 666{{page.local.num}}</p>
            <p>Próximo a lugar nenhum{{page.local.complemento}}</p>
          </div>
        </mat-card-content>
      </div>
      <mat-card-actions class="button-event">
        <button mat-button>Curtir</button>
        <button mat-button>Voluntário</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>